{{#if isLoading}}
  <div class="loading">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
{{else}}
  {{#if hasResults}}
    {{#each-in results as |key value|}}
      {{#if value.length}}
        <div class="result-group">
          <h6 class="result-group-heading dropdown-header">
            {{#if (eq key 'canI')}}
              Can I...
            {{else}}
              Show me...
            {{/if}}
          </h6>
          {{#each value as |resultItem|}}
            <a class="dropdown-item" href="#"  {{action 'chooseItem' resultItem}}>
              {{resultItem.desc}}
            </a>
          {{/each}}
        </div>
      {{/if}}
    {{/each-in}}
  {{else}}
    <a class="dropdown-item disabled" href="#">
      Couldn't find that. Can try something different?
    </a>
  {{/if}}
{{/if}}
