{{#if selectedPerson}}
  {{#each selectedPersonWithAppointments.appointmentList as |appointment|}}
    <div class="container">
      <div class="row grid">
        <div class="col-xs">
          {{#if hasAppointment}}
            <span>
                <i class="fa fa-check" aria-hidden="true" style="font-size: 3em"></i>
              </span>
          {{else}}
            <button class="btn btn-primary" {{action "selectAppointment" appointment}}>
              Confirm
            </button>
          {{/if}}
        </div>
        <div class="col-xs">
          {{selectedPersonWithAppointments.name}}
        </div>
        <div class="col-xs">
          <div class="container-fluid">
            {{appointment.start}} - {{appointment.end}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}