<div class="component-container-title">Transaction List</div>
{{#liquid-if hasTransactions}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Account</th>
        <th>Date</th>
        <th>Category</th>
        <th>Paid To</th>
        <th>Amount</th>
        <th>Memo</th>
      </tr>
    </thead>
    <tbody>
      {{#each transactions as |t index|}}
        <tr>
          <th scope="row">{{index}}</th>
          <td>{{t.account}}</td>
          <td>{{moment-format t.timeStamp 'MM-DD-YYYY'}}</td>
          <td>{{t.category}}</td>
          <td>{{t.payee}}</td>
          <td>${{t.amount}}</td>
          <td>{{t.memo}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No recent transactions.  You are probably a hermit!</p>
{{/liquid-if}}